#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    
  }
  
  .flb {
    
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
  }
  .container {
    margin: 1em;
}
#card{
  display: none;
}
#logIn{
  text-align:center;
}
.ion-content{
  padding: 10px;
}

img {
    margin-bottom: 1em;
    margin-top: 1em;

    max-width: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


#btn-login{
  text-align:bottom;
}

#result{
  text-align: center;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  display: block;

}

#loggedIn{
  border-radius: 25px;
  margin-left: 100px; 
}

#card{
  background-image:url(http://images.all-free-download.com/images/graphiclarge/vector_musical_background_241338.jpg); 
}