
ul{
    list-style-type: none;
    
}

li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
#voteBtn{
    text-align:right;
}
#voteUp{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
label{
    color:rgb(117, 104, 231); 
    font-weight: bold; 
    display: block; 
    float: center;
}
#input{
    text-align:center;
}
