<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 27px;"></div>
      <div class="profile-image">
        <img src="img/logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 268px; height: 44px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item1" ui-sref="menu.home()" menu-close="">
          <i class="icon ion-android-home"></i>Home</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item2" ui-sref="menu.profile()" menu-close="">
          <i class="icon ion-android-person"></i>Profile</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item5" ui-sref="menu.favorites()" menu-close="">
          <i class="icon ion-android-favorite"></i>Favorites</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item3" ui-sref="menu.playlist()" menu-close="">
          <i class="icon ion-ios-musical-notes"></i>Playlist</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item4" ui-sref="menu.history()" menu-close="">
          <i class="icon ion-android-folder"></i>History</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>