

.container{
margin-left: 10%
}
.track1{
    //margin-left: 10%;
    float:left;
    
}

.track2{
    //margin-left: 30%;
    float:left;
}

.track2{
    //margin-left: 60%;
    float:left;
}

.track4{
    //margin-left: 60%;
    float:left;
}