
.container{
    margin-left: 10%
}



.track{
    text-align: center;
}


    .fav{
        float: right;
    }

@media screen and (min-width: 600px){

    .track{
        // padding: 10%;
        padding:2px;
        float: left;
     }

 }