

.container{
margin-left: 10%
}
<<<<<<< HEAD
.track1{
    //margin-left: 10%;
    float:left;
    
}

.track2{
    //margin-left: 30%;
    float:left;
}

.track2{
    //margin-left: 60%;
    float:left;
}

.track4{
    //margin-left: 60%;
    float:left;
=======

#tracks{
   // padding: 10%;
   text-align: center;
>>>>>>> d0122dec5dbc4bb13994af28515d888eefa0c5b5
}